<template class="task-template">
  <section id="hdd-section" class="section js-section u-category-hdd">

    <header class="section-header">
      <div class="section-wrapper">
        <h1>HDD</h1>
        <h3>Schnellzugriff</h3>
      </div>
    </header>

    <div class="demo-first">
      <div class="demo-wrapper">
        <button id="new-window-demo-toggle" class="js-container-target demo-toggle-button">SnapShot
                  <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                </button>
        <div class="btn-demo">
          <a class="btndemo snapshot">
                      Starten
                      <span class="linedemo-1"></span>
                      <span class="linedemo-2"></span>
                      <span class="linedemo-3"></span>
                      <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p><code>Snapshot</code> fertigt ein exaktes Abbild Ihrer Festplatte oder einer Partition in einer Datei an. Sie können
            sogar während des Prozesses weiterarbeiten. </p>
          <div class="demo-protip">
            <div class="img-pro-snapshot"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Tom Ehlert Software</p>
            <p><strong>Homepage: </strong><a href="http://www.drivesnapshot.de/de/" title="Tom Ehlert Software" target="_blank">http://www.drivesnapshot.de/de</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="demo">
      <div class="demo-wrapper">
        <button id="manage-window-demo-toggle" class="js-container-target demo-toggle-button">WD-Tools
                  <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                </button>
        <div class="btn-demo">
          <a class="btndemo wdtools">
                      Starten
                      <span class="linedemo-1"></span>
                      <span class="linedemo-2"></span>
                      <span class="linedemo-3"></span>
                      <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Mit <code>WD-Tools</code> werden interne und externe Laufwerke getestet. Darüber hinaus zeigt dieses Programm die
            Modell- und Seriennummern von an das System angeschlossenen Laufwerken an.</p>
          <div class="demo-protip">
            <div class="img-pro-wdtools"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>WD</p>
            <p><strong>Homepage: </strong><a href="https://www.wdc.com/de-de/" title="WD" target="_blank">https://www.wdc.com/de-de</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="demo">
      <div class="demo-wrapper">
        <button id="using-window-events-demo-toggle" class="js-container-target demo-toggle-button">TotalCommander
                  <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                </button>
        <div class="btn-demo">
          <a class="btndemo totalcommander">
                      Starten
                      <span class="linedemo-1"></span>
                      <span class="linedemo-2"></span>
                      <span class="linedemo-3"></span>
                      <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p><code>TotalCommander</code> erlaubt eine komfortable Verwaltung von Dateien und bietet ein integriertes ZIP-Utility
            sowie einen FTP-Client.</p>
          <div class="demo-protip">
            <div class="img-pro-totalcommander"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Christian Ghisler</p>
            <p><strong>Homepage: </strong><a href="http://www.ghisler.com/" title="Christian Ghisler" target="_blank">http://www.ghisler.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <header class="section-headerquick">
      <div class="section-wrapperquick">
        <h3>Weitere Software</h3>
      </div>
    </header>

    <div class="quick-first">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">Ghost32
                  <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                </button>
        <div class="btn-demo">
          <a class="btndemo ghost">
                    Starten
                    <span class="linedemo-1"></span>
                    <span class="linedemo-2"></span>
                    <span class="linedemo-3"></span>
                    <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p><code>Ghost</code> fertigt ein exaktes Abbild Ihrer Festplatte oder einer Partition auf eine andere Festplatte
            oder in eine Datei an.</p>
          <div class="quick-protip">
            <div class="img-pro-ghost"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Symantec</p>
            <p><strong>Homepage: </strong><a href="https://www.symantec.com" title="Symantec" target="_blank">https://www.symantec.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="quick">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">PartitionManager
                  <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                </button>
        <div class="btn-demo">
          <a class="btndemo partmanager">
                    Starten
                    <span class="linedemo-1"></span>
                    <span class="linedemo-2"></span>
                    <span class="linedemo-3"></span>
                    <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Mit dem <code>Partition Manager</code> ist ein einfach zu bedienendes Tool zur Partitionierung Ihrer Festplatte. Das Tool kann mit MBR- und GPT-formatierten Datenträgern umgehen.</p>
          <div class="quick-protip">
            <div class="img-pro-partmanager"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>AOMEI Technology</p>
            <p><strong>Homepage: </strong><a href="http://www.extend-partition.com/" title="AOMEI Technology" target="_blank">http://www.extend-partition.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="quick">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">KillDisk
                  <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                </button>
        <div class="btn-demo">
          <a class="btndemo killdisk">
                    Starten
                    <span class="linedemo-1"></span>
                    <span class="linedemo-2"></span>
                    <span class="linedemo-3"></span>
                    <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Mit <code>KillDisk</code> löschen Sie Daten auf Ihrer Festplatte oder Ihrem USB-Speicherstift. Gleichzeitig werden
            diese von der Anwendung überschrieben.</p>
          <div class="quick-protip">
            <div class="img-pro-active"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Active@</p>
            <p><strong>Homepage: </strong><a href="http://www.killdisk.com/" title="Ative@" target="_blank">http://www.killdisk.com</a></p>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>