<template class="task-template">
  <section id="fsp-section" class="section js-section u-category-fsp">

    <header class="section-header">
      <div class="section-wrapper">
        <h1>Scripte</h1>
        <h3>Schnellzugriff</h3>
      </div>
    </header>

    <div class="demo-first">
      <div class="demo-wrapper">
        <button id="new-window-demo-toggle" class="js-container-target demo-toggle-button">SIW-Script
                  <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                </button>
        <div class="btn-demo">
          <a class="btndemo siwscript">
                      Starten
                      <span class="linedemo-1"></span>
                      <span class="linedemo-2"></span>
                      <span class="linedemo-3"></span>
                      <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Mithilfe des <code>SIW-Scripts</code> ist eine schneller Report (XML) des Computers mithilfe von SIW möglich. Der Report wird entweder auf dem zu Verfügung stehendem Server oder auf dem SuD-Stick gespeichert.</p>
          <div class="demo-protip">
            <div class="img-pro-script"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>LycaKnight</p>
            <p><strong>Homepage: </strong><a href="https://lycaknight.de/" title="LycaKnight" target="_blank">https://lycaknight.de/</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="demo">
      <div class="demo-wrapper">
        <button id="manage-window-demo-toggle" class="js-container-target demo-toggle-button">OEM-Script
                  <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Windows-System</div>
                </button>
        <div class="btn-demo">
          <a class="btndemo oemscript">
                      Starten
                      <span class="linedemo-1"></span>
                      <span class="linedemo-2"></span>
                      <span class="linedemo-3"></span>
                      <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Das <code>OEM-Script</code> fügt vorgefertigte OEM-Informationen in das System ein. Die Modell-ID kann selbständig für jedes Gerät festgelegt werden.</p>
          <div class="demo-protip">
            <div class="img-pro-script"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>LycaKnight</p>
            <p><strong>Homepage: </strong><a href="https://lycaknight.de/" title="LycaKnight" target="_blank">https://lycaknight.de/</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="demo-last">
      <div class="demo-wrapper">
        <button id="using-window-events-demo-toggle" class="js-container-target demo-toggle-button">SETHC-Script
                  <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                </button>
        <div class="btn-demo">
          <a class="btndemo sethcscript">
                      Starten
                      <span class="linedemo-1"></span>
                      <span class="linedemo-2"></span>
                      <span class="linedemo-3"></span>
                      <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Mithilfe des <code>SETHC-Scriptes</code> kann die Einrastfunktion durch eine Konsole ersetzt werden. Hierdurch kann vor der Windows-Anmeldung eine Adminkonsole geöffnet werdne.</p>
          <div class="demo-protip">
            <div class="img-pro-script"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>LycaKnight</p>
            <p><strong>Homepage: </strong><a href="https://lycaknight.de/" title="LycaKnight" target="_blank">https://lycaknight.de/</a></p>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>