<template class="task-template">
  <div id="about-modal" class="about modal">
    <div class="about-wrapper">
      <header class="about-header">
        <img class="about-logo" src="assets/img/about.png" alt="SuD">
        <h1 class="about-title">Software und <strong>Diagnose</strong></h1>
      </header>
      <main class="about-sections">
        <section class="about-section play-along">
          <h2>Über SuD</h2>
            <p>
              Das Software und Diagnosetool beinhaltet eine Auswahl an nützlichen Programmen für die Diagnose von PC Problemen.
              Es umfasst die folgenden Bereiche:
            </p>
            <p>
              <strong>
                Hardware- und Software Diagnose </br>
              </strong>
              <strong>
                  Recovery </br>
              </strong>
              <strong>
                  HDD </br>
              </strong>
              <strong>
                  AntiVirus </br>
              </strong>
              <strong>
                  Scripte </br>
              </strong>
            </p>
        </section>
        <section class="about-section about-code">
          <h2>Über den Code</h2>
            <p>
              Die Software wurde für die möglichst einfache und unkomplizierteste Nutzung entwickelt.
              Dies wurde mithilfe des Frameworks Electron ermöglicht.</br>
              Electron ist ein Framework für die Erstellung von nativen Anwendungen mit Web-Technologien wie JavaScript, HTML und CSS.
            </p>
            <p>
              Der Code ist zum Ansehen oder Herunterladen bei GitHub zu finden</br>
              <em> Hinweis: Dies beinhaltet nur den Source Code.</em>
              <br />
            </p>
            <div class="footer-social-links">
                <a href="mailto:tobiasbrummer@lycaknight.de" title="E-Mail"><i class="fa fa-envelope-o"></i></a>
                <a class="updater" title="SuD Updater"><i class="fa fa-download"></i></a>
                <a href="https://github.com/Lyca-Knight/sud" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </section>
          <footer class="about-section footer"></footer>
          <div class="btn-cont">
              <a class="btn modal-hide" id="get-started">
                Schließen
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span></a>
            </div>
          </footer>
      </main>
    </div>
  </div>
</template>
