/* Welcome ------------------------ */

.about {
  --about-space: 4rem;

  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  background-color: hsl(0,0%,98%);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.1);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}

.about-title {
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  display: block;
  margin: 0 auto;
  padding: 1em 0em 0em 0.5em;
}

.about-title strong {
  font-weight: 600;
  color: var(--color-strong);
}

.about.is-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: visibility 0s 0s linear , opacity .24s ease-out, transform .24s ease-out;
}

.about-wrapper {
  margin: auto;
}

.about-header {
  padding: var(--about-space) 0;
  border-bottom: 1px solid hsl(0,0%,88%);
}

.about-logo {
  display: block;
  margin: 0 auto;
  width: 320px; /* TODO: Adjust asset to this size */
  max-width: 100%;
}

.about-sections {
  max-width: 680px;
  padding: 0 var(--about-space);
}

.about-section {
  margin: var(--about-space) 0;
}

.about h2 {
  text-align: center;
  margin: 0 0 1em 0;
  font-size: 1.5em;
  color: hsl(0, 0%, 55%);
}

.about .about-code h2 {
  color: hsl(330, 65%, 55%);
}

.about .play-along h2 {
  color: hsl(222, 53%, 50%);
}

footer.about-section {
  text-align: center;
  /* padding: 10em 120em 0em 0em; */
}

@media (min-width: 940px) {
  .about-header {
    align-self: center;
    padding: var(--about-space);
    border-right: 1px solid hsl(0,0%,88%);
    border-bottom: none;
  }
  .about-wrapper {
    display: flex;
  }
}

/* github and e-mail button  */
.footer-social-links{
font-size: 20px;
text-align: center;
}
.footer-social-links a{
  width: 35px;
  height: 35px;
  border: 0;
  line-height: 30px !important;
  position: relative;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  color: #111;
  
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer-social-links a i,
.footer-social-links a span{
  position: relative;
  top: 2px;
  left: 1px; 
}
.footer-social-links a:before{
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-strong);
  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  
}
.footer-social-links a:hover{
  color: #fff;
}
.footer-social-links a:hover:before{
  background: #111;
}

/* Close Button */
.btn-cont {
  text-align: center;
}
.btn-cont .btn {
  position: relative;
  padding: 20px 70px;
  border: 1px solid var(--color-strong);
  color: #000000;
  text-decoration: none;
  font-size: em(18px);
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}
.btn-cont .btn:hover {
  border: none;
}
.btn-cont .btn:hover .line-1 {
  animation: move1 1500ms infinite ease;
}
.btn-cont .btn:hover .line-2 {
  animation: move2 1500ms infinite ease;
}
.btn-cont .btn:hover .line-3 {
  animation: move3 1500ms infinite ease;
}
.btn-cont .btn:hover .line-4 {
  animation: move4 1500ms infinite ease;
}
.btn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: var(--color-strong);
  left: 0;
  bottom: 0;
}
.btn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: var(--color-strong);
  left: 0;
  top: 0;
}
.btn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: var(--color-strong);
  right: 0;
  top: 0;
}
.btn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: var(--color-strong);
  right: 0;
  bottom: 0;
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
