/* Demo */

.demo-first {
  margin-top: 2rem;
}
.demo-last {
  margin-bottom: 2rem;
}
@media (min-width: 940px) {
  .demo-last {
    margin-bottom: 4rem;
  }
}

.demo-wrapper {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
}

/* Toggle Button ----------------------------- */

.demo-toggle-button {
  position: relative;
  display: block;
  margin: 0;
  padding: .5em 1.5em;
  line-height: 1.5;
  font: inherit;
  font-weight: 600;
  font-size: 1.2em;
  text-align: left;
  border: none;
  color: inherit;
  background-color: transparent;
  transition: border-color .12s;
  outline: none;
}

.demo-toggle-button:before,
.demo-toggle-button:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 50%;
  background-color: hsl(0,0%,88%);
  transition: transform .2s cubic-bezier(.4,.1,0,1);
}
.demo-toggle-button:before {
  top: 0;
  transform-origin: bottom center;
  transform: translateX(.7em) rotate(-30deg) scale(.75);
}
.demo-toggle-button:after {
  bottom: 0;
  transform-origin: top center;
  transform: translateX(.7em) rotate(30deg) scale(.75);
}
.is-open .demo-toggle-button:before,
.is-open .demo-toggle-button:after {
  transform: rotate(0deg);
}
.demo-toggle-button:focus:before,
.demo-toggle-button:focus:after {
  background-color: currentColor;
}

/* Meta info */

.demo-meta {
  margin-top: .2em;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-subtle);
}
.demo-meta-divider {
  margin: 0 .5em;
}


/* Demo Box ----------------------------- */

.demo-box {
  display: none;
  position: relative;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
}
.demo-box:before {
  content: "";
  position: absolute;
  top: -11px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border-top: inherit;
  border-right: inherit;
  border-top-right-radius: 3px;
  transform: rotate(-45deg);
}

.is-open .demo-box {
  display: block;
  animation: demo-box-fade-in .2s cubic-bezier(0, .20, .20, .96);
}
@keyframes demo-box-fade-in {
    0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.demo-box > p:first-child {
  margin-top: 0;
}

.demo-box h5 {
  font-size: 1em;
  margin-bottom: .6em;
}


/* Demo Controls ----------------------------- */

.demo-controls {
  display: flex;
  align-items: center;
}

.demo-button {
  align-self: flex-start;
  margin-right: 1em;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em 1.2em;
  color: inherit;
  background-color: transparent;
}
.demo-button:focus {
  outline: none;
  background-color: white;
}
.demo-button:active {
  border-color: var(--color-border);
}

.demo-input {
  flex: 1;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em .8em;
  color: inherit;
  background-color: transparent;
}
.demo-input:focus {
  outline: none;
  border-color: hsl(0,0%,80%);
  background-color: white;
}

.demo-response {
  flex: 1;
  word-break: break-word;
}

.smooth-appear {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.disappear {
  opacity: 0;
}
.demo-button.smooth-disappear:focus {
  outline: inherit;
  border-color: inherit;
  background-color: inherit;
}

/* ProTip ----------------------------- */

.demo-protip {
  margin-top: 2rem;
  padding: 1.5rem 2rem 2rem 2rem;
  border: 1px solid hsla(0,0%,0%,.06);
  border-radius: 6px;
  background: var(--color-accent) linear-gradient(hsla(0,0%,100%,.85), hsla(0,0%,100%,.85));
}
.demo-protip h2 {
  margin: 0 0 .5rem 0;
}
.demo-protip strong {
  font-weight: 600;
}
.demo-protip-sethc {
  margin-left: 20px;
}
/* ProTip Image  */
.img-pro-aida64 {
  background-image: url(../img/app-icons/aida64.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-treesize {
  background-image: url(../img/app-icons/treesize.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-siw {
  background-image: url(../img/app-icons/siw.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-networkscanner {
  background-image: url(../img/app-icons/networkscanner.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-burnintest {
  background-image: url(../img/app-icons/burnintest.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-errorlookup {
  background-image: url(../img/app-icons/errorlookup.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-recoverkeys {
  background-image: url(../img/app-icons/recoverkeys.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-recuva {
  background-image: url(../img/app-icons/recuva.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-passwordchanger {
  background-image: url(../img/app-icons/passwordchanger.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-testdisk {
  background-image: url(../img/app-icons/testdisk.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-partrecovery {
  background-image: url(../img/app-icons/partrecovery.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-mailstore {
  background-image: url(../img/app-icons/mailstore.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-snapshot {
  background-image: url(../img/app-icons/snapshot.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-wdtools {
  background-image: url(../img/app-icons/wdtools.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-totalcommander {
  background-image: url(../img/app-icons/totalcommander.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-active {
  background-image: url(../img/app-icons/active.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-partmanager {
  background-image: url(../img/app-icons/partmanager.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}


.img-pro-ghost {
  background-image: url(../img/app-icons/ghost.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-eset {
  background-image: url(../img/app-icons/eset.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-emsisoft  {
  background-image: url(../img/app-icons/emsisoft.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-malwarebytes {
  background-image: url(../img/app-icons/malwarebytes.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-adwcleaner  {
  background-image: url(../img/app-icons/adwcleaner.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-avira {
  background-image: url(../img/app-icons/avira.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-clamwin {
  background-image: url(../img/app-icons/clamwin.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

.img-pro-script {
  background-image: url(../img/app-icons/script.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 600px;
  top: 130px;
}

/* program open Button */

.btn-demo {
  text-align: center;
  position: relative;
  left: 310px;
  bottom: 40px;
}
.btn-demo .btndemo {
  position: relative;
  padding: 10px 25px;
  border: 1px solid var(--color-strong);
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}
.btn-demo .btndemo:hover {
  border: none;
}
.btn-demo .btndemo:hover .linedemo-1 {
  animation: move1 1500ms infinite ease;
}
.btn-demo .btndemo:hover .linedemo-2 {
  animation: move2 1500ms infinite ease;
}
.btn-demo .btndemo:hover .linedemo-3 {
  animation: move3 1500ms infinite ease;
}
.btn-demo .btndemo:hover .linedemo-4 {
  animation: move4 1500ms infinite ease;
}
.btn-demo .linedemo-1 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: var(--color-strong);
  left: 0;
  bottom: 0;
}
.btn-demo .linedemo-2 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: var(--color-strong);
  left: 0;
  top: 0;
}
.btn-demo .linedemo-3 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: var(--color-strong);
  right: 0;
  top: 0;
}
.btn-demo .linedemo-4 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: var(--color-strong);
  right: 0;
  bottom: 0;
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
