/*
** nativize.css
** Makes the UI feel more native
*/

html {
  font-family: sans-serif;
  -webkit-user-select: none; /* disable selection */
  -webkit-user-drag: none; /* disable dragging */
  cursor: default; /* use default cursor */
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: hsl(222, 53%, 50%);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}




body {
  margin: 0; /* remove default margin */
}


/* enable text selection */

.is-selectable,
pre,
code {
  -webkit-user-select: auto;
  cursor: auto;
}


/* Buttons and links */

button{
  cursor: default;
}

/* Internal links */
a {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed;
  outline: none;
}

/* New window (target) + external links */
a[target],
a[href^="https://"],
a[href^="http://"] {
  border-bottom: 1px solid;
}

a:hover,
a:focus {
  border-bottom: none;
}


/* Images */

img {
  -webkit-user-drag: none; /* disable dragging */
}
