<template class="task-template">
  <section id="recovery-section" class="section js-section u-category-recovery">

    <header class="section-header">
      <div class="section-wrapper">
        <h1>Recovery</h1>
        <h3>Schnellzugriff</h3>
      </div>
    </header>

    <div class="demo-first">
      <div class="demo-wrapper">
        <button id="new-window-demo-toggle" class="js-container-target demo-toggle-button">RecoverKeys
          <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
        </button>
        <div class="btn-demo">
          <a class="btndemo recoverkeys">
                    Starten
                    <span class="linedemo-1"></span>
                    <span class="linedemo-2"></span>
                    <span class="linedemo-3"></span>
                    <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Mit <code>Recover Keys</code> sichern Sie die Lizenzschlüssel aller kostenpflichtigen Programme auf Ihrem Rechner.
            Untersützt den Export in verschiedene Dateiformate.</p>
          <div class="demo-protip">
            <div class="img-pro-recoverkeys"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>ONE UP</p>
            <p><strong>Homepage: </strong><a href="https://recover-keys.com" title="ONE UP" target="_blank">https://recover-keys.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="demo">
      <div class="demo-wrapper">
        <button id="manage-window-demo-toggle" class="js-container-target demo-toggle-button">Recuva
                <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
              </button>
        <div class="btn-demo">
          <a class="btndemo recuva">
                    Starten
                    <span class="linedemo-1"></span>
                    <span class="linedemo-2"></span>
                    <span class="linedemo-3"></span>
                    <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Die Freeware <code>Recuva</code> kann Daten retten und gelöschte Dateien wiederherstellen. Zur besseren Übersicht
            können Sie die Funde alternativ in einer Baumstruktur anzeigen lassen.</p>
          <div class="demo-protip">
            <div class="img-pro-recuva"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>PiriForm</p>
            <p><strong>Homepage: </strong><a href="https://www.piriform.com" title="PiriForm" target="_blank">https://www.piriform.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="demo">
      <div class="demo-wrapper">
        <button id="using-window-events-demo-toggle" class="js-container-target demo-toggle-button">PasswordChanger
                <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
              </button>
        <div class="btn-demo">
          <a class="btndemo passwordchanger">
                    Starten
                    <span class="linedemo-1"></span>
                    <span class="linedemo-2"></span>
                    <span class="linedemo-3"></span>
                    <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Der <code>PasswordChanger</code> erlaubt es Ihnen, ohne Zugriff auf das System, die Benutzer bzw. Passwörter zu
            ändern.
          </p>
          <div class="demo-protip">
            <div class="img-pro-passwordchanger"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Active@</p>
            <p><strong>Homepage: </strong><a href="http://www.password-changer.com/" title="Active@" target="_blank">http://www.password-changer.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <header class="section-headerquick">
      <div class="section-wrapperquick">
        <h3>Weitere Software</h3>
      </div>
    </header>

    <div class="quick-first">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">TestDisk
                <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
              </button>
        <div class="btn-demo">
          <a class="btndemo testdisk">
                  Starten
                  <span class="linedemo-1"></span>
                  <span class="linedemo-2"></span>
                  <span class="linedemo-3"></span>
                  <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Das Open-Source Programm <code>TestDisk</code> ist die kostenlose Rettung für verloren gegangene oder gelöschte
            Festplatten-Partitionen.
          </p>
          <div class="quick-protip">
            <div class="img-pro-testdisk"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>CGSecurity</p>
            <p><strong>Homepage: </strong><a href="http://www.cgsecurity.org/" title="CGSecurity" target="_blank">http://www.cgsecurity.org</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="quick">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">Partition Recovery
                <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
              </button>
        <div class="btn-demo">
          <a class="btndemo partrecovery">
                  Starten
                  <span class="linedemo-1"></span>
                  <span class="linedemo-2"></span>
                  <span class="linedemo-3"></span>
                  <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Mit dem <code>Partition Recovery</code> ist es möglich gelöschte oder verloren gegangene Festplattenpartitionen
            wiederherzustellen.
          </p>
          <div class="quick-protip">
            <div class="img-pro-partrecovery"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Active@</p>
            <p><strong>Homepage: </strong><a href="http://www.partition-recovery.com" title="Active@" target="_blank">http://www.partition-recovery.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="quick">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">Mailstore Home
                <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
              </button>
        <div class="btn-demo">
          <a class="btndemo mailstore">
                  Starten
                  <span class="linedemo-1"></span>
                  <span class="linedemo-2"></span>
                  <span class="linedemo-3"></span>
                  <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Mit <code>Mailstore Home</code> archivieren und sichern Sie all Ihre E-Mails in nur einem Programm. Unterstützt
            werden alle gängigen Programme und Postfächer</p>
          <div class="quick-protip">
            <div class="img-pro-mailstore"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>MailStore</p>
            <p><strong>Homepage: </strong><a href="https://www.mailstore.com" title="MailStore" target="_blank">https://www.mailstore.com</a></p>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>