<template class="task-template">
  <section id="antivirus-section" class="section js-section u-category-antivirus">

    <header class="section-header">
      <div class="section-wrapper">
        <h1>AntiVirus</h1>
        <h3>Schnellzugriff</h3>
      </div>
    </header>

    <div class="demo-first">
      <div class="demo-wrapper">
        <button id="new-window-demo-toggle" class="js-container-target demo-toggle-button">Eset
                          <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                        </button>
        <div class="btn-demo">
          <a class="btndemo eset">
                              Starten
                              <span class="linedemo-1"></span>
                              <span class="linedemo-2"></span>
                              <span class="linedemo-3"></span>
                              <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Der <code>ESET Online Scanner</code> führt einen Sicherheits-Scan auf Ihrem System durch. Unerwünschte Malware,
            Trojaner und Viren werden dabei erkannt und entfernt.</p>
          <div class="demo-protip">
            <div class="img-pro-eset"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>ESET</p>
            <p><strong>Homepage: </strong><a href="https://www.eset.com" title="ESET" target="_blank">https://www.eset.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="demo">
      <div class="demo-wrapper">
        <button id="manage-window-demo-toggle" class="js-container-target demo-toggle-button">Emsisoft
                          <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                        </button>
        <div class="btn-demo">
          <a class="btndemo emsisoft">
                              Starten
                              <span class="linedemo-1"></span>
                              <span class="linedemo-2"></span>
                              <span class="linedemo-3"></span>
                              <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Mit dem <code>Emsisoft Emergency Kit</code> holen Sie sich ein Notfallpaket für Malware verseuchte PCs. Schnelle
            Scans prüfen das System in kurzer Zeit, auch potenziell ungewünschte Software-Titel (PUPs) werden entfernt </p>
          <div class="demo-protip">
            <div class="img-pro-emsisoft"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Emsisoft</p>
            <p><strong>Homepage: </strong><a href="https://www.emsisoft.com" title="Emsisoft" target="_blank">https://www.emsisoft.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="demo">
      <div class="demo-wrapper">
        <button id="using-window-events-demo-toggle" class="js-container-target demo-toggle-button">MalwareBytes
                          <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                        </button>
        <div class="btn-demo">
          <a class="btndemo malwarebytes">
                              Starten
                              <span class="linedemo-1"></span>
                              <span class="linedemo-2"></span>
                              <span class="linedemo-3"></span>
                              <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p><code>Malwarebytes</code> ist ein Malware Scanner und entfernt dank ausgeklügelter Technik bösartige Dateien von
            Ihrer Festplatte.</p>
          <div class="demo-protip">
            <div class="img-pro-malwarebytes"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>MalwareBytes</p>
            <p><strong>Homepage: </strong><a href="https://de.malwarebytes.com/" title="MalwareBytes" target="_blank">https://de.malwarebytes.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <header class="section-headerquick">
      <div class="section-wrapperquick">
        <h3>Weitere Software</h3>
      </div>
    </header>

    <div class="quick-first">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">ADWCleaner
                          <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                        </button>
        <div class="btn-demo">
          <a class="btndemo adwcleaner">
                            Starten
                            <span class="linedemo-1"></span>
                            <span class="linedemo-2"></span>
                            <span class="linedemo-3"></span>
                            <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Das kostenlose Tool <code>ADWCleaner</code>entfernt unerwünschte Adware, Toolbars und Hijacker vom PC. Es besteht
            aus einem Such-Modus zur Analyse sowie der eigentlichen Bereinigungsfunktion</p>
          <div class="quick-protip">
            <div class="img-pro-adwcleaner"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>MalwareBytes</p>
            <p><strong>Homepage: </strong><a href="https://de.malwarebytes.com/" title="MalwareBytes" target="_blank">https://de.malwarebytes.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="quick">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">Avira
                          <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                        </button>
        <div class="btn-demo">
          <a class="btndemo avira">
                            Starten
                            <span class="linedemo-1"></span>
                            <span class="linedemo-2"></span>
                            <span class="linedemo-3"></span>
                            <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Schnell-Check von PC-Viren. <code>Avira PC Cleaner</code> prüft Ihr System und reinigt Ihren Rechner von gefundener
            Malware.</p>
          <div class="quick-protip">
            <div class="img-pro-avira"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Avira</p>
            <p><strong>Homepage: </strong><a href="https://www.avira.com" title="Avira" target="_blank">https://www.avira.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="quick">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">ClamWIN
                          <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
                        </button>
        <div class="btn-demo">
          <a class="btndemo clamwin">
                            Starten
                            <span class="linedemo-1"></span>
                            <span class="linedemo-2"></span>
                            <span class="linedemo-3"></span>
                            <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Mit <code>ClamWIN</code> steht nun eine grafische Oberfläche für den Open-Source Virenscanner ClamAV zur Verfügung. Es besteht auch die Möglichkeit komprimierte Dateien zu scannen  </p>
          <div class="quick-protip">
            <div class="img-pro-clamwin"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>ClamWIN</p>
            <p><strong>Homepage: </strong><a href="https://www.clamav.net" title="ClamWIN" target="_blank">https://www.clamav.net</a></p>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>