<template class="task-template">
  <section id="diagnose-section" class="section js-section u-category-diagnose">

    <header class="section-header">
      <div class="section-wrapper">
        <h1>Diagnose</h1>
        <h3>Schnellzugriff</h3>
      </div>
    </header>

    <div class="demo-first">
      <div class="demo-wrapper">
        <button id="new-window-demo-toggle" class="js-container-target demo-toggle-button">Aida64
          <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
        </button>
        <div class="btn-demo">
          <a class="btndemo aida64">
              Starten
              <span class="linedemo-1"></span>
              <span class="linedemo-2"></span>
              <span class="linedemo-3"></span>
              <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Die Shareware <code>Aida64</code> analysiert Ihr System und zeigt dabei sowohl installierte Software als auch verbaute
            Hardware an.</p>
          <div class="demo-protip">
            <div class="img-pro-aida64"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>FinalWire</p>
            <p><strong>Homepage: </strong><a href="https://www.aida64.com" title="Aida64" target="_blank">https://www.aida64.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="demo">
      <div class="demo-wrapper">
        <button id="manage-window-demo-toggle" class="js-container-target demo-toggle-button">TreeSize
          <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
        </button>
        <div class="btn-demo">
          <a class="btndemo treesize">
              Starten
              <span class="linedemo-1"></span>
              <span class="linedemo-2"></span>
              <span class="linedemo-3"></span>
              <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Die Freeware <code>TreeSize</code> schlüsselt Ihnen die Speicherplatzbelegung von Festplatten in einer übersichtlichen
            Baumstruktur auf.</p>
          <div class="demo-protip">
            <div class="img-pro-treesize"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Jam Software</p>
            <p><strong>Homepage: </strong><a href="https://www.jam-software.de/" title="TreeSize" target="_blank">https://www.jam-software.de/</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="demo">
      <div class="demo-wrapper">
        <button id="using-window-events-demo-toggle" class="js-container-target demo-toggle-button">SIW
          <div class="demo-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
        </button>
        <div class="btn-demo">
          <a class="btndemo siw">
              Starten
              <span class="linedemo-1"></span>
              <span class="linedemo-2"></span>
              <span class="linedemo-3"></span>
              <span class="linedemo-4"></span></a>
        </div>
        <div class="demo-box">
          <p>Mit <code>"System Information for Windows" (kurz SIW)</code> erhalten Sie detaillierte Informationen über Ihren
            PC.
          </p>
          <div class="demo-protip">
            <div class="img-pro-siw"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Topala Software</p>
            <p><strong>Homepage: </strong><a href="https://www.gtopala.com" title="SIW" target="_blank">https://www.gtopala.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <header class="section-headerquick">
      <div class="section-wrapperquick">
        <h3>Weitere Software</h3>
      </div>
    </header>

    <div class="quick-first">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">NetworkScanner
          <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
        </button>
        <div class="btn-demo">
          <a class="btndemo networkscanner">
            Starten
            <span class="linedemo-1"></span>
            <span class="linedemo-2"></span>
            <span class="linedemo-3"></span>
            <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Der <code>Softperfect NetworkScanner</code> durchsucht mit Hilfe von ICMP Requests einen beliebigen IP-Bereich
            in einem lokalen Netzwerk und listet die antwortenden Endgeräte übersichtlich in einer Liste auf.</p>
          <div class="quick-protip">
            <div class="img-pro-networkscanner"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Softperfect</p>
            <p><strong>Homepage: </strong><a href="https://www.softperfect.com" title="Softperfect" target="_blank">https://www.softperfect.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="quick">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">BurnIn Test
          <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
        </button>
        <div class="btn-demo">
          <a class="btndemo burnintest">
            Starten
            <span class="linedemo-1"></span>
            <span class="linedemo-2"></span>
            <span class="linedemo-3"></span>
            <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Mit <code>BurnIn Test</code> von PassMark unterziehen Sie Ihren Computer einer umfangreichen System-Analyse und
            Belastungstest.
          </p>
          <div class="quick-protip">
            <div class="img-pro-burnintest"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Passmark</p>
            <p><strong>Homepage: </strong><a href="https://www.passmark.com/" title="PassMark" target="_blank">https://www.passmark.com/</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="quick">
      <div class="quick-wrapper">
        <button id="using-window-events-toggle" class="js-container-target quick-toggle-button">ErrorLookUp Tool
          <div class="quick-meta u-avoid-clicks">Anforderungen: 32,64 BIT | Live-System | Windows-System</div>
        </button>
        <div class="btn-demo">
          <a class="btndemo errorlookup">
            Starten
            <span class="linedemo-1"></span>
            <span class="linedemo-2"></span>
            <span class="linedemo-3"></span>
            <span class="linedemo-4"></span></a>
        </div>
        <div class="quick-box">
          <p>Das <code>Windows Error Lookup Tool</code> hilft bei der Übersetzung von kryptischen Windows-Fehlermeldungen. Es
            werden dezimale und hexdezimale Fehlercodes akzeptiert.</p>
          <div class="quick-protip">
            <div class="img-pro-errorlookup"></div>
            <h2>Information</h2>
            <p><strong>Hersteller: </strong>Gunners Software</p>
            <p><strong>Homepage: </strong><a href="http://www.gunnerinc.com" title="GunnerInc" target="_blank">http://www.gunnerinc.com</a></p>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>