<template class="task-template">
    <section id="sethc-section" class="section js-contentsethc u-category-sethc">
        <body>
            <header class="section-header">
                <div class="section-wrapper section-wrapper-sethc">
                    <h1>SuD Updater</h1>
                </div>
            </header>
            <div class="drivetextbox-first">Laufwerke:</div>
            <div class=" drivetextbox-second">Laufwerks Auswahl:</div>
            <textarea type="textbox" class="drivetextbox" id="drivetextbox" placeholder="Erkannte Festplatten" rows="15" readonly></textarea>
            <span class="custom-dropdown">
                <select id="drivetextbox-select"></select>
            </span>
            <div class="demo-protip demo-protip-sethc">
                <h2>Benutzung</h2>
                <p>
                    Das <code>Sethc-Script</code> tauscht die Einrastfunktion durch eine Konsole mit Adminrechten. Dieses
                    kann auch schon im Benutzer-Login Fenster benutzt werden Dadurch kann z.B. ein neuer Benutzer erstellt werden.
                </p>
            </div>
        </body>
    </section>
</template>
